.image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    background-color: blue;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;

    border-bottom: 1px white solid;
}

.container {
    width: 75%;
    margin: auto;
}

.aboutme {
    padding-top: 3rem;
}

.projectcontainer {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    padding: 3rem;
    align-items: stretch;
    border: 3px gray solid;
    border-radius: 10%;
}

.projectimage {
    flex: 1;
    object-fit: contain;
    height: auto;
}

.projectdesc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}